<h1>Get access to OBA API</h1>

<div class="row">
  <div class="col mr-5">
    <form autocomplete="off" (ngSubmit)="onSubmitRegistration()" #registrationForm="ngForm">

      <div *ngIf="globalError" class="alert alert-danger">{{globalError}}</div>

      <div class="form-group" class="n">
        <label for="companyLocation">Company location</label>
        <input type="text" class="form-control" name="companyLocation" id="companyLocation"
               [(ngModel)]="registration.companyLocation" autocomplete="new-password">
      </div>
      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" name="firstName" id="firstName" [(ngModel)]="registration.firstName"
               #firstName="ngModel" maxlength="100" appNotEmpty required>
        <div [hidden]="!(firstName.touched && firstName.invalid)" class="alert alert-danger">First name is required
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" name="lastName" id="lastName" [(ngModel)]="registration.lastName"
               #lastName=ngModel maxlength="100" appNotEmpty>
        <div [hidden]="!(lastName.touched && lastName.invalid)" class="alert alert-danger">Last name is required</div>
      </div>
      <div class="form-group">
        <label for="organizationName">Organization name</label>
        <input type="text" class="form-control" name="organizationName" id="organizationName"
               [(ngModel)]="registration.organizationName" #organizationName=ngModel maxlength="100" appNotEmpty>
        <div [hidden]="!(organizationName.touched && organizationName.invalid)" class="alert alert-danger">Organization name is
          required
        </div>
      </div>
      <div class="form-group">
        <label for="dqwuh">Work email</label>
        <input type="text" class="form-control" name="dqwuh" id="dqwuh" [(ngModel)]="registration.dqwuh"
               #workEmail="ngModel" [email]="true" required maxlength="100" appNotEmpty>
        <div [hidden]="!(workEmail.touched && workEmail.invalid && !workEmail.errors?.emailExists)"
             class="alert alert-danger">A valid email address is required
        </div>
        <div *ngIf="workEmail.errors?.emailExists" class="alert alert-danger">
          Email address already in use
        </div>
      </div>
      <div class="form-group">
        <label for="dqwuh">Password</label>
        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="registration.password"
               #password="ngModel" appPasswordValid required maxlength="20">
        <div [hidden]="!(password.touched && password.invalid)" class="alert alert-danger">Password must be at least 8
          characters long and contain
          <ul>
            <li>a lowercase characters</li>
            <li>an uppercase characters</li>
            <li>a special characters</li>
            <li>a number</li>
          </ul>
        </div>
      </div>
      <div class="form-group" class="h">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" id="email" [(ngModel)]="registration.email"
               autocomplete="new-password">
      </div>
      <div class="form-group" class="o">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" [(ngModel)]="registration.name"
               autocomplete="new-password">
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!registrationForm.form.valid">Register</button>
    </form>
  </div>
  <div class="col">Hello</div>
</div>
