<h1>Get a developer account</h1>
<br/>
<br/>dwwddddd
<div fxLayout="row" fxFlex="100">
  <div fxLayout="column" fxFlex="350px" class="form-box">
    <form autocomplete="off" (ngSubmit)="onSubmitRegistration()" #registrationForm="ngForm">

      <div *ngIf="globalError" class="alert alert-danger">{{globalError}}</div>

      <div class="form-group" class="n">
        <label for="companyLocation">Company location</label>
        <input type="text" class="form-control" name="companyLocation" id="companyLocation"
               [(ngModel)]="registration.companyLocation" autocomplete="new-password">
      </div>
      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" name="firstName" id="firstName" [(ngModel)]="registration.firstName"
               #firstName="ngModel" maxlength="100" appNotEmpty>
        <div [hidden]="!(firstName.touched && firstName.invalid)" class="alert alert-danger">First name is required
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" name="lastName" id="lastName" [(ngModel)]="registration.lastName"
               #lastName=ngModel maxlength="100" appNotEmpty>
        <div [hidden]="!(lastName.touched && lastName.invalid)" class="alert alert-danger">Last name is required</div>
      </div>
      <div class="form-group">
        <label for="companyName">Company name</label>
        <input type="text" class="form-control" name="companyName" id="companyName"
               [(ngModel)]="registration.companyName" #companyName=ngModel maxlength="100" appNotEmpty>
        <div [hidden]="!(companyName.touched && companyName.invalid)" class="alert alert-danger">Company name is
          required
        </div>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username"
               [(ngModel)]="registration.username" #username=ngModel maxlength="100" appNotEmpty>
        <div [hidden]="!(username.touched && username.invalid)" class="alert alert-danger">username name is
          required
        </div>
      </div>
      <div class="form-group">
        <label for="dqwuh">Work email</label>
        <input type="text" class="form-control" name="dqwuh" id="dqwuh" [(ngModel)]="registration.dqwuh"
               #workEmail="ngModel" [email]="true" required maxlength="100" appNotEmpty>
        <div [hidden]="!(workEmail.touched && workEmail.invalid && !workEmail.errors?.emailExists)"
             class="alert alert-danger">A valid email address is required
        </div>
        <div *ngIf="workEmail.errors?.emailExists" class="alert alert-danger">
          Email address already in use
        </div>
      </div>
      <div class="form-group">
        <label for="dqwuh">Password</label>
        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="registration.password"
               #password="ngModel" appPasswordValid required maxlength="20">
        <div [hidden]="!(password.touched && password.invalid)" class="alert alert-danger">Password must be at least 8
          characters long and contain
          <ul>
            <li>a lowercase characters</li>
            <li>an uppercase characters</li>
            <li>a special characters</li>
            <li>a number</li>
          </ul>
        </div>
      </div>
      <div class="form-group" class="h">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" id="email" [(ngModel)]="registration.email"
               autocomplete="new-password">
      </div>
      <div class="form-group" class="o">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" [(ngModel)]="registration.name"
               autocomplete="new-password">
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!registrationForm.form.valid">Send</button>

    </form>
  </div>
  <div fxLayout="column" fxFlex class="form-box">
    Register for a developer account and get access to OBAs API within a few minutes.
  </div>
</div>
