<form *ngIf="render" [formGroup]="form" (ngSubmit)="submit()">
  <div formArrayName="all">
    <div *ngFor="let field of fieldDefinitions; let i=index" class="form-group">
      <label for="{{field.key}}">{{field.labelExplanation.label}}</label>
      <div *ngIf="field.labelExplanation.explanation"
           class="form-field-description">{{field.labelExplanation.explanation}}</div>

      <input class="form-control" type="text" *ngIf="field.type == 'TEXT'" [formControlName]="i">
      <div *ngIf="field.type == 'TEXT' &&
        !form.get('all').get('' + i).pristine &&
        form.get('all').get('' + i).errors &&
        form.get('all').get('' + i).errors.minLength" class="alert alert-danger">
        This value is too short
      </div>
      <div *ngIf="field.type == 'TEXT' &&
        !form.get('all').get('' + i).pristine &&
        form.get('all').get('' + i).errors &&
        form.get('all').get('' + i).errors.maxLength" class="alert alert-danger">
        This value is too long
      </div>
      <div *ngIf="field.type == 'TEXT' &&
        !form.get('all').get('' + i).pristine &&
        form.get('all').get('' + i).errors &&
        form.get('all').get('' + i).errors.required" class="alert alert-danger">
        This field is required
      </div>

      <select class="form-control" *ngIf="field.type == 'SELECT'" [formControlName]="i">
        <option *ngFor="let option of field.options" [value]="option.value">{{option.label}}</option>
      </select>
      <div *ngIf="field.type == 'SELECT' &&
        form.get('all').get('' + i).touched &&
        form.get('all').get('' + i).errors &&
        form.get('all').get('' + i).errors.required" class="alert alert-danger">
        This field is required
      </div>

      <div *ngIf="field.type == 'CHECKBOXES'" class="form-group" [formGroupName]="i">
        <label *ngFor="let choice of field.checkBoxValues; let j=index" class="checkbox-label">
          <input type="checkbox" [value]="choice.value" [formControlName]="j">
          {{choice.label}}
        </label>
        <div *ngIf="form.get('all').get('' + i).errors" class="alert alert-danger">
          {{field.checkBoxesMinSelectedValidator.message}}
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!form.valid">Submit</button>
  </div>
</form>
