<nav class="navbar navbar-expand" >
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/oba.png" width="52" height="60" alt="">
    </a>
    <div class="btn-group">
      <button class="btn btn-light  pull-right" type="button" routerLink="/" routerLinkActive="button-active"
              [routerLinkActiveOptions]="{exact: true}">
        Home
      </button>
      <button *ngIf="!(isLoggedIn() | async)" class="btn btn-light " pull-right type="button" routerLink="/register" routerLinkActive="button-active"
              [routerLinkActiveOptions]="{exact: true}">
        Register
      </button>
      <button *ngIf="!(isLoggedIn() | async)" class="btn btn-light  pull-right" type="button" routerLink="/login" routerLinkActive="button-active"
              [routerLinkActiveOptions]="{exact: true}">
        Login
      </button>
      <button *ngIf="isLoggedIn() | async" class="btn btn-light pull-right" type="button" routerLink="/admin"
              routerLinkActive="button-active">
        Admin
      </button>
      <button *ngIf="isLoggedIn() | async" class="btn btn-light pull-right" type="button" (click)="logOut()">
        Logout
      </button>
    </div>

  </div>
</nav>
