<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/oba.png" width="52" height="60" alt="">
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.active]="isHomePage()">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item" [class.active]="isRegister()">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li *ngIf="!(isLoggedIn() | async)" class="nav-item" [class.active]="isLogin()">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li *ngIf="isLoggedIn() | async" class="nav-item">
        <a class="nav-link" routerLink="/admin">Admin</a>
      </li>
      <li *ngIf="isLoggedIn() | async" class="nav-item">
        <a class="nav-link" (click)="logOut()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
