

<div class="row" *ngIf="organization">
  <div class="col mr-5">
    <form autocomplete="off" (ngSubmit)="onSubmit()" #form="ngForm">

      <div *ngIf="globalError" class="alert alert-danger">{{globalError}}</div>
      <div *ngIf="globalSuccess" class="alert alert-success">{{globalSuccess}}</div>

      <div class="form-group">
        <label for="name">Organization Name</label>
        <div class="small p-1">Organization Name is used when we register your organization with a bank.
          Note that changing your Organization Name does not automatically update your organization's name with the banks you are registered with.</div>
        <input type="text" class="form-control" name="name" id="name" [(ngModel)]="organization.name" required
               appNotEmpty maxlength="50" #name=ngModel>
        <div [hidden]="!(name.touched && name.invalid)" class="alert alert-danger">Name is required</div>
      </div>
      <div class="form-group">
        <label for="vatNumber">VAT Number (optional)</label>
        <input type="text" class="form-control" name="vatNumber" id="vatNumber" [(ngModel)]="organization.vatNumber" maxlength="50">
      </div>
      <div class="form-group">
        <label for="street">Street</label>
        <input type="text" class="form-control" name="street" id="street" [(ngModel)]="organization.street" required
               appNotEmpty maxlength="75" #street=ngModel>
        <div [hidden]="!(street.touched && street.invalid)" class="alert alert-danger">Street is required</div>
      </div>
      <div class="form-group">
        <label for="streetNumber">Street number</label>
        <input type="text" class="form-control" name="streetNumber" id="streetNumber"
               [(ngModel)]="organization.streetNumber" required appNotEmpty maxlength="10" #streetNumber=ngModel>
        <div [hidden]="!(streetNumber.touched && streetNumber.invalid)" class="alert alert-danger">Street number is
          required
        </div>
      </div>
      <div class="form-group">
        <label for="streetNumber">Postal code</label>
        <input type="text" class="form-control" name="postalCode" id="postalCode"
               [(ngModel)]="organization.postalCode" required appNotEmpty #postalCode=ngModel maxlength="20">
        <div [hidden]="!(postalCode.touched && postalCode.invalid)" class="alert alert-danger">Postal code is required
        </div>
      </div>
      <div class="form-group">
        <label for="streetNumber">Country</label>
        <select class="form-control" name="country" id="country"
                [(ngModel)]="organization.country" required appNotEmpty maxlength="50" #country=ngModel>
          <option *ngFor="let country of countries">{{country}}</option>
        </select>
        <div [hidden]="!(country.touched && country.invalid)" class="alert alert-danger">Country is required</div>
      </div>
      <br/>
      <button type="submit" class="btn btn-success" [disabled]="!form.form.valid">Save</button>
    </form>
  </div>
  <div class="col">Hello</div>
</div>
