<div *ngIf="apiRegistrations && api">
  <h1>Registrations for {{api.financialOrganization.displayName}} - {{api.type}} {{api.sandbox ? 'Sandbox' : 'Production API'}}</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col"># Consents</th>
      <th scope="col">Created</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let apiRegistration of apiRegistrations">
      <td><a routerLink="{{apiRegistration.id}}">{{apiRegistration.id}}</a></td>
      <td>#</td>
      <td>{{apiRegistration.created}}</td>
    </tr>
    <tr *ngIf="apiRegistrations?.length == 0">
      <td colspan="4">You have no registrations for this API yet</td>
    </tr>
    </tbody>
  </table>

  <button type="submit" class="btn btn-success" [routerLink]="[api.id + '/new']">Create registration</button>
</div>

