<!--<header>
  <h1>H1: {{title}}</h1>
</header>
<div class="flex-container wrapper">
  &lt;!&ndash; Sidebar &ndash;&gt;
  <aside class="sidebar">
    <nav>
      <a routerLink="/dashboard">Dashboard</a>
      <a routerLink="/customers">Customers</a>
    </nav>
  </aside>
  <section class="content">
    <router-outlet></router-outlet>
    <app-messages></app-messages>
  </section>
</div>-->


<app-header *ngIf="showHeader" fxLayout="column"></app-header>

<div class="main" fxLayout="row" fxFlex="100">
  <app-sidebar *ngIf="showSidebar" fxLayout="column" fxFlex="300px"></app-sidebar>
  <div class="content" fxLayout="column">
    <router-outlet></router-outlet>
  </div>
</div>

<app-footer *ngIf="showFooter" fxLayout="column"></app-footer>
