<nav class="navbar navbar-expand-lg rounded-top p-2">

  <button type="button" class="btn btn-light" routerLink="admin" routerLinkActive="button-active"
          [routerLinkActiveOptions]="{exact: true}">Home
  </button>
  <button type="button" class="btn btn-light" routerLink="admin/organization" routerLinkActive="button-active">
    Organization
  </button>
  <button *ngFor="let app of allApplications() | async" (click)="selectApplication(app.id)" type="button"
          class="btn btn-light" routerLinkActive="button-active"
          routerLink="{{ 'admin/applications/' + app.id}}">{{app.name}}</button>
</nav>

<nav *ngIf="isOrganization()" class="navbar navbar-expand  primary-color p-2" style="background-color: #b5cae2">
  <div>
    <button class="btn btn-light" type="button" routerLink="admin/organization" routerLinkActive="button-active"
            [routerLinkActiveOptions]="{exact: true}">Info
    </button>
    <button class="btn btn-light" type="button" routerLink="admin/organization/keys-certs"
            routerLinkActive="button-active">Keys & Certificates
    </button>
    <button class="btn btn-light" type="button" routerLink="admin/organization/redirect-urls"
            routerLinkActive="button-active">Redirect URLs
    </button>
    <button class="btn btn-light" type="button" routerLink="admin/organization/apis"
            routerLinkActive="button-active">Registrations
    </button>
    <button class="btn btn-light" type="button" routerLink="admin/organization/applications"
            routerLinkActive="button-active">Applications
    </button>
  </div>
</nav>

<nav *ngIf="isApplication() && selectedApplication" class="navbar navbar-expand  primary-color p-2"
     style="background-color: #b5cae2">
  <div>
    <button class="btn btn-light" type="button" [routerLink]="['admin/applications', selectedApplication.id]"
            [routerLinkActiveOptions]="{exact: true}"
            [ngClass]="home ? 'button-active' : ''"
            routerLinkActive="button-active">Home
    </button>
    <button class="btn btn-light" type="button"
            [routerLink]="['admin/applications', selectedApplication.id, 'public-keys']"
            (click)="setHomeButtonInactive()"
            routerLinkActive="button-active">Public keys
    </button>
    <button class="btn btn-light" type="button"
            [routerLink]="['admin/applications', selectedApplication.id, 'available-apis']"
            (click)="setHomeButtonInactive()"
            routerLinkActive="button-active">Country Data Providers
    </button>
  </div>
</nav>

<div *ngIf="serverError" class="justify-content-center alert-danger p-1 m-1">
  <div class="text-center">
    {{getServerError().error.message}} ({{getServerError().error.code}})
  </div>
</div>

