<nav class="navbar navbar-expand-lg rounded-top p-2">

  <button type="button" class="btn btn-light" routerLink="admin/organization">Organization</button>
  &nbsp;&nbsp;
  <button type="button" class="btn btn-light">Application 1</button>

  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Statistics</a>
    <a class="dropdown-item" href="#">Settings (batch settings)</a>
    <a class="dropdown-item" href="#">Banks & tags</a>
    <a class="dropdown-item" href="#">Users</a>
  </div>


</nav>

<nav class="navbar navbar-expand  primary-color p-2" style="background-color: #b5cae2">
  <div>
    <button class="btn btn-light" type="button" routerLink="admin/organization" routerLinkActive="button-active">Info
    </button>&nbsp;
    <button class="btn btn-light" type="button" routerLink="admin/keys-certs" routerLinkActive="button-active">Keys &
      Certificates
    </button>&nbsp;
    <button class="btn btn-light" type="button" routerLink="admin/redirect-urls" routerLinkActive="button-active">
      Redirect URLs
    </button>&nbsp;
    <button class="btn btn-light" type="button" routerLink="admin/bank-registrations" routerLinkActive="button-active">Bank
      registrations
    </button>&nbsp;
    <button class="btn btn-light" type="button" routerLink="admin/invoices" routerLinkActive="button-active">
      Invoices
    </button>
  </div>
</nav>

<div *ngIf="serverError" class="justify-content-center alert-danger p-1 m-1">
  <div class="text-center">
    {{getServerError().error.message}} ({{getServerError().error.code}})
  </div>
</div>

