<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Status</th>
    <th scope="col">Description</th>
    <th scope="col">Purpose</th>
    <th scope="col">Used in</th>
    <th scope="col">Created</th>
    <th scope="col">Expires in</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let certificate of certificates">
    <td><a routerLink="{{certificate.id}}">{{certificate.name}}</a></td>
    <td>
      <span *ngIf="certificate.signedCertificate">Ready</span>
      <span class="alert-warning" *ngIf="!certificate.signedCertificate">Waiting for signed certificate</span>
    </td>
    <td>{{certificate.description}}</td>
    <td>{{certificate.keyPurpose}}</td>
    <td><a href=""># registrations</a></td>
    <td>{{certificate.created}}</td>
    <td *ngIf="certificate.daysUntilExpiration >= 0"> {{certificate.daysUntilExpiration}} days</td>
    <td *ngIf="certificate.daysUntilExpiration < 0"><span
      class="alert-danger">Expired {{-certificate.daysUntilExpiration}} days ago</span></td>
  </tr>
  <tr *ngIf="certificates?.length == 0">
    <td colspan="6">You have no certificates yet</td>
  </tr>
  </tbody>
</table>

<button type="submit" class="btn btn-success" routerLink="create">Create key and certificate</button>
<br/><br/>
<button type="submit" class="btn btn-success" routerLink="upload">Upload existing key and certificate (sandbox only)
</button>
