<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Id</th>
    <th scope="col">Created</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let application of applications">
    <td><a routerLink="{{application.id}}">{{application.name}}</a></td>
    <td>{{application.id}}</td>
    <td>{{application.created}}</td>
  </tr>
  <tr *ngIf="applications?.length == 0">
    <td colspan="6">You have no applications yet</td>
  </tr>
  </tbody>
</table>

<button type="submit" class="btn btn-success" routerLink="new">New application</button>
