<h1>Create Application</h1>

<div *ngIf="applicationLimitReached" class="alert alert-warning">You reached the maximum number of applications.</div>

<div class="row" *ngIf="!applicationLimitReached">
  <div class="col mr-5">
    <form (ngSubmit)="onSubmit()" #form="ngForm">

      <div *ngIf="globalError" class="alert alert-danger">{{globalError}}</div>

      <div class="form-group">
        <label for="name">Name</label>
        <div class="small p-1">The name of the application</div>
        <input type="text" class="form-control" name="name" id="name" [(ngModel)]="application.name" required
               appNotEmpty maxlength="50" #name=ngModel>
        <div [hidden]="!(name.touched && name.invalid)" class="alert alert-danger">Name is required</div>
      </div>

      <div class="form-group">
        <label for="techCName">Technical contact name</label>
        <input type="text" class="form-control" name="techCName" id="techCName"
               [(ngModel)]="application.technicalContactName" required
               appNotEmpty maxlength="50" #techCName=ngModel>
        <div [hidden]="!(techCName.touched && techCName.invalid)" class="alert alert-danger">Technical contact name is
          required
        </div>
      </div>

      <div class="form-group">
        <label for="name">Technical contact email</label>
        <input type="text" class="form-control" name="techCEmail" id="techCEmail"
               [(ngModel)]="application.technicalContactEmail" required
               appNotEmpty maxlength="50" #techCEmail=ngModel [email]="true">
        <div [hidden]="!(techCEmail.touched && techCEmail.invalid)" class="alert alert-danger">A valid technical contact email
          is required
        </div>
      </div>

      <br/>
      <button type="submit" class="btn btn-success" [disabled]="!form.form.valid">Save</button>
    </form>
  </div>


</div>
