
<div *ngIf="availableCountryDataProviders">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Country</th>
      <th scope="col">System Name</th>
      <th scope="col">Enabled</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let countryDataProvider of availableCountryDataProviders">
      <td>{{countryDataProvider.countryDataProvider.displayName}} {{countryDataProvider.availableCountryDataProviderApi.sandbox ? 'Sandbox' : 'Production'}}</td>
      <td>{{countryDataProvider.availableCountryDataProviderApi.type}}</td>
      <td>{{countryDataProvider.countryDataProvider.country}}</td>
      <td>{{countryDataProvider.countryDataProvider.systemName}}</td>
      <td><input type="checkbox"  (click)="submit(countryDataProvider.countryDataProvider.systemName, countryDataProvider.enabled)"
                 [checked]="countryDataProvider.enabled"/></td>
      <td>{{countryDataProvider.availableCountryDataProviderApi.status}}</td>
    </tr>
    <tr *ngIf="availableCountryDataProviders?.length == 0">
      <td colspan="6">Your organization has not been <a routerLink="/admin/organization/apis">registered</a> with any APIs yet</td>
    </tr>
    </tbody>
  </table>
</div>

