<h1 *ngIf="organization">Welcome {{organization.name}}</h1>


<table class="table" *ngIf="completenessReport && !isComplete()">
  <thead>
  <tr>
    <td colspan="2">
      We need some more information about your organization in order to onboard you with banks. Please review the tasks below.
    </td>
  </tr>
  <tr>
    <th scope="col">Task</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngIf="!completenessReport.organizationFieldsComplete">
      <td>Complete your organization's information</td>
      <td><button class="btn btn-success" type="button" routerLink="organization" routerLinkActive="button-active" [routerLinkActiveOptions]="{exact: true}">Organization Info</button></td>
    </tr>
    <tr *ngIf="!completenessReport.redirectUrl">
      <td>Provide a redirect URL</td>
      <td><button class="btn btn-success" type="button" routerLink="organization/redirect-urls" routerLinkActive="button-active">Redirect URLs</button></td>
    </tr>
    <tr *ngIf="!completenessReport.transportCertificateExists">
      <td>Provide a transport certificate</td>
      <td><button class="btn btn-success" type="button" routerLink="organization/keys-certs" routerLinkActive="button-active">Keys & Certificates</button>&nbsp;</td>
    </tr>
    <tr class="alert-danger" *ngIf="!completenessReport.transportCertificateValid">
      <td>You have no valid transport certificate</td>
      <td><button class="btn btn-success" type="button" routerLink="organization/keys-certs" routerLinkActive="button-active">Keys & Certificates</button>&nbsp;</td>
    </tr>
    <tr *ngIf="!completenessReport.signingCertificateExists">
      <td>Provide a signing certificate</td>
      <td><button class="btn btn-success" type="button" routerLink="organization/keys-certs" routerLinkActive="button-active">Keys & Certificates</button>&nbsp;</td>
    </tr>
    <tr class="alert-danger" *ngIf="!completenessReport.signingCertificateValid">
      <td>You have no valid signing certificate</td>
      <td><button class="btn btn-success" type="button" routerLink="organization/keys-certs" routerLinkActive="button-active">Keys & Certificates</button>&nbsp;</td>
    </tr>
  </tbody>
</table>
<br/>
