<h1>Create certificate</h1>

<div class="row" *ngIf="certificate">
  <div class="col mr-5">
    <form autocomplete="off" (ngSubmit)="onSubmit()" #form="ngForm">

      <div *ngIf="globalError" class="alert alert-danger">{{globalError}}</div>

      <div class="form-group">
        <label for="name">Name</label>
        <div class="small">The name is used for your own reference. It will not be part of the certificate</div>
        <input type="text" class="form-control" name="name" id="name" [(ngModel)]="certificate.name" required
               appNotEmpty maxlength="50" #name=ngModel>
        <div [hidden]="!(name.touched && name.invalid)" class="alert alert-danger">Name is required</div>
      </div>
      <div class="form-group">
        <label for="description">Description(optional)</label>
        <div class="small">The description is used for your own reference. It will not be part of the certificate</div>
        <input type="text" class="form-control" name="description" id="description"
               [(ngModel)]="certificate.description"
               appNotEmpty maxlength="100">
      </div>
      <div class="form-group">
        <label for="purpose">Purpose</label>
        <div class="small">Certificates can be used for either signing or transport (TLS).</div>
        <select class="form-control" name="purpose" id="purpose"
                [(ngModel)]="certificate.purpose" required appNotEmpty maxlength="50" #purpose=ngModel>
          <option value="TRANSPORT">Transport (eIDAS QWAC)</option>
          <option value="SIGNING">Signing (eIDAS QSEAL)</option>
        </select>
        <div [hidden]="!(purpose.touched && purpose.invalid)" class="alert alert-danger">Purpose is required</div>
      </div>

      <div class="form-group">
        <label for="country">Country</label>
        <div class="small">Country must be a 2-letter ISO code</div>
        <input type="text" class="form-control" name="country" id="country" [(ngModel)]="certificate.country" required
               appNotEmpty maxlength="2" #country=ngModel oninput="this.value = this.value.toUpperCase()">
        <div [hidden]="!(country.touched && country.invalid)" class="alert alert-danger">Country is required</div>
      </div>

      <div class="form-group">
        <label for="stateOrProvince">State or Province</label>
        <input type="text" class="form-control" name="stateOrProvince" id="stateOrProvince"
               [(ngModel)]="certificate.stateOrProvince" required
               appNotEmpty maxlength="50" #stateOrProvince=ngModel>
        <div [hidden]="!(stateOrProvince.touched && stateOrProvince.invalid)" class="alert alert-danger">State or
          province is required
        </div>
      </div>

      <div class="form-group">
        <label for="locality">Locality</label>
        <div class="small">City or town name</div>
        <input type="text" class="form-control" name="locality" id="locality" [(ngModel)]="certificate.locality"
               required
               appNotEmpty maxlength="50" #locality=ngModel>
        <div [hidden]="!(locality.touched && locality.invalid)" class="alert alert-danger">Locality is required</div>
      </div>

      <div class="form-group">
        <label for="organizationName">Organization name</label>
        <input type="text" class="form-control" name="organizationName" id="organizationName"
               [(ngModel)]="certificate.organizationName" required
               appNotEmpty maxlength="50" #organizationName=ngModel>
        <div [hidden]="!(organizationName.touched && organizationName.invalid)" class="alert alert-danger">Organization
          name is required
        </div>
      </div>

      <div class="form-group">
        <label for="organizationalUnitName">Organizational unit name</label>
        <input type="text" class="form-control" name="organizationalUnitName" id="organizationalUnitName"
               [(ngModel)]="certificate.organizationalUnitName" required
               appNotEmpty maxlength="50" #organizationalUnitName=ngModel>
        <div [hidden]="!(organizationalUnitName.touched && organizationalUnitName.invalid)" class="alert alert-danger">
          Organizational unit name is required
        </div>
      </div>

      <div class="form-group">
        <label for="commonName">Common name</label>
        <div class="small">Often the organization domain name is provided here</div>
        <input type="text" class="form-control" name="commonName" id="commonName"
               [(ngModel)]="certificate.commonName" required
               appNotEmpty maxlength="50" #commonName=ngModel>
        <div [hidden]="!(commonName.touched && commonName.invalid)" class="alert alert-danger">Common name is required
        </div>
      </div>


      <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" class="form-control" name="email" id="email" [(ngModel)]="certificate.emailAddress"
               #email="ngModel" [email]="true" required maxlength="100" appNotEmpty>
        <div [hidden]="!(email.touched && email.invalid)"
             class="alert alert-danger">A valid email address is required
        </div>
      </div>


      <div class="form-group" ngModelGroup="roles" appMinSelected="1" #roles="ngModelGroup">
        <label>Roles</label>
        <div class="small">Check at least one of the below roles</div>
        <div class="form-inline">
          <input type="checkbox" class="form-control" name="roleAisp" id="roleAisp" [(ngModel)]="certificate.roleAisp">
          &nbsp; Account Information Service Provider
        </div>
        <div class="form-inline">
          <input type="checkbox" class="form-control" name="rolePisp" id="rolePisp" [(ngModel)]="certificate.rolePisp">
          &nbsp; Payment Initiation Service Provider
        </div>
        <div class="form-inline">
          <input type="checkbox" class="form-control" name="roleCisp" id="roleCisp"
                 [(ngModel)]="certificate.roleCisp"> &nbsp; Card Issuer Service Provider
        </div>
        <div [hidden]="!(roles.touched && roles.invalid)" class="alert alert-danger">Select at least one role
        </div>
      </div>
      <br/>
      <button type="submit" class="btn btn-success" [disabled]="!form.form.valid">Save</button>
    </form>
  </div>
  <div class="col">Hello</div>
</div>
