<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Purpose</th>
    <th scope="col">DN</th>
    <th scope="col">Created</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let certificate of certificates">
    <td>{{certificate.id}}</td>
    <td>{{certificate.name}}</td>
    <td>{{certificate.description}}</td>
    <td>{{certificate.keyPurpose}}</td>
    <td>{{certificate.distinguishedName}}</td>
    <td>{{certificate.created}}</td>
  </tr>
  </tbody>
</table>
