@font-face {
  font-family: "PTSans-Regular";
  src: url("/assets/font/PTSans-Regular.eot");
  src: url("/assets/font/PTSans-Regular.ttf") format("truetype"),
  url("/assets/font/PTSans-Regular.otf") format("opentype"),
  url("/assets/font/PTSans-Regular.woff") format("woff"),
  url("/assets/font/PTSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Assistant";
  src: url("/assets/font/Assistant-Regular.ttf") format("truetype"),
  url("/assets/font/Assistant-Regular.woff") format("woff");
}

html {
  background-image: url("/assets/img/europe.jpg");
}

body {
  font-family: 'Assistant', sans-serif;
  background-color: unset;
}

h1 {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

app-header {
  min-height: 10vh;
}

.content {
  background-color: white;
  min-height: 80vh;
}

label {
  font-weight: bold;
}

.navbar {
  background-color: #99b3d0;
}

a {
  cursor: pointer;
}

.btn.btn-top.button-active, .btn.btn-light.button-active {
  color: #fff;
  background-color: #24588e;
  border-color: #24588e;
}

.btn-dark:hover {
  color: #fff;
  background-color: #2c6aaf;
  border-color: #2c6aaf;
}

.btn-dark:active {
  color: #fff;
  background-color: #24588e;
  border-color: #24588e;
}

.navbar .btn-light {
  background-color: #b5cae2;
  color: #444;
  border: 1px solid white;
}

.btn-top {
  color: #fff;
  background-color: #99b3d0;
  border-color: #99b3d0;
}

label {
  padding: 0;
  margin: 0 0 0 2px;
}

.form-field-description {
  font-size: 12px;
  margin: 2px 0px 8px 2px;

}

.checkbox-label {
  display: block;
  padding: 5px;
}

.traffic-light-on {
  width: 15px;
  height: 15px;
  background-color: #42A948;
  border-radius: 2px;
  margin-top: 7px
}

.traffic-light-off {
  width: 15px;
  height: 15px;
  background-color: #d22e29;
  border-radius: 2px;
  margin-top: 7px
}
