<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">URL</th>
    <th scope="col">Used in</th>
    <th scope="col">Created</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let redirectUrl of redirectUrls">
    <td>{{redirectUrl.id}}</td>
    <td>{{redirectUrl.redirectUrl}}</td>
    <td><a href=""># registrations</a></td>
    <td>{{redirectUrl.created}}</td>
    <td><span (click)="delete(redirectUrl.id)"><img src="../assets/img/del.png" width="20" height="20"/></span></td>
  </tr>
  <tr *ngIf="redirectUrls?.length == 0">
    <td colspan="4">You have no redirect URLs yet</td>
  </tr>
  </tbody>
</table>
<br/>

<form (ngSubmit)="onSubmit()" #form="ngForm">

  <div *ngIf="globalError" class="alert alert-danger">{{globalError}}</div>

  <div class="form-group">
    <label for="redirectUrl">Add redirect URL</label>
    <input type="text" class="form-control" name="redirectUrl" id="redirectUrl"
           [(ngModel)]="newRedirectUrl.redirectUrl"
           appUrlValid maxlength="255" #redirectUrl=ngModel>
    <div [hidden]="form.form.valid || !redirectUrl.value" class="alert alert-danger">
      Redirect URL cannot be empty and must start with http:// or https://
    </div>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!form.form.valid">Save</button>
</form>
